<div class="flex drop-shadow h-screen my-5">
    
    <form class="p-4  rounded-lg m-auto border w-500" >
            <H1 class="text-center drop-shadow-none text-purple-700 border-b-2 pb-2 mb-5 text-xl font-bold">Register</H1>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="firstName">FirstName : </label>
                <input type="text" id="firstName" name="firstName" id="firstName" class="p-2 rounded  focus:drop-shadow-lg font-light w-full border" placeholder="Enter Your FirstName Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="lastName">LastName : </label>
                <input type="text" id="lastName" name="lastName" id="lastName" class="p-2 rounded font-light focus:drop-shadow-lg w-full border" placeholder="Enter Your LastName Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="adress">Adress : </label>
                <input type="text" id="adress" name="adress" id="adress" class="p-2 rounded font-light focus:drop-shadow-lg w-full border" placeholder="Enter Your Adress Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="email">Email : </label>
                <input type="email" id="email" name="email" id="email" class="p-2 rounded font-light focus:drop-shadow-lg w-full border" placeholder="Enter Your Email Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="phone">Phone Number : </label>
                <input type="phone" id="phone" name="phone" id="phone" class="p-2 rounded font-light focus:drop-shadow-lg w-full border" placeholder="Enter Your Phone Number Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="amount">Amount : </label>
                <input type="number" id="amount" name="amount" id="amount" class="p-2 rounded font-light focus:drop-shadow-lg w-full border" placeholder="Enter Your Amount Here">
            </div>
            <div class="my-3 w-full">
                <label class="text-purple-700" for="typeAccount">Account Type : </label>
                <select name="typeAccount" class="p-2 font-light rounded w-full border" id="typeAccount">
                    <option value=""></option>
                    <option value="professionnel">Professionnel</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="my-3 mt-5 w-full">
                <input type="submit" value="Register" class="p-2 cursor-pointer bg-orange-600 rounded-xl hover:bg-orange-700 font-bold text-white focus:drop-shadow-lg w-full border" >
            </div>
    </form>
</div>