<section>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-5xl pt-6 leading-tight mb-5 text-orange-400">
          Client Dashboard
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div
        class="w-25 drop-shadow-xl rounded-3xl h-28 flex flex-col content-center items-center justify-center bg-purple-300"
      >
        <h1 class="text-2xl text-white">Solde</h1>
        <p>2456</p>
      </div>
      <div
        class="w-25 drop-shadow-xl rounded-3xl h-28 flex flex-col content-center items-center justify-center bg-purple-300"
      >
        <h1 class="text-2xl text-white">Type Account</h1>
        <p>Professionnel</p>
      </div>
      <div
        class="w-25 drop-shadow-xl rounded-3xl h-28 flex flex-col content-center items-center justify-center bg-purple-300"
      >
        <h1 class="text-2xl text-white">test</h1>
        <p>2456</p>
      </div>
    </div>
  </div>
</section>
