<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <a class="font-black text-blue-50" routerLink="">BankConnect</a>
    </div>
    <div>
        <a class="mx-4 font-bold hover:text-cyan-200 " routerLink="/cart">Admin Dashboard</a>
        <a class="mx-4 font-bold hover:text-cyan-200 " routerLink="/cart">Clien Dashboard</a>
        
        <a class="mx-4 font-bold hover:text-cyan-200 " routerLink="/login">LogOut</a>
        <a class="mx-4 font-bold hover:text-cyan-200 " routerLink="/login">Login</a>
        <a class="mx-4 font-bold hover:text-cyan-200 " routerLink="/register">Register</a>
    </div>
</nav>
<div class="">
    <router-outlet></router-outlet>
</div>